.header {
	width: calc(100% - 20px);
	height: 40px;
	background: #394246;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px 10px;
	align-items: center;
}



.header >.material-icons {
	height: 100%;
	line-height: 40px;
	width: 50px;
	font-size: 2em;
	cursor: pointer;
	border: 0;
	background: transparent;
	padding:0;
	margin: 0;
	color: white;

}

.header >.material-icons:hover{
	font-size: 3em;
	transition: font-size .3s ease-out ;
}
.header >.material-icons.show{
	transform: rotateZ(90deg);
	transition: transform .3s ease-out ;

}
.header >.material-icons.hide{
	transform: rotateZ(0deg);
	transition: transform .3s ease-out ;

}
.header >span {
	margin-left: 30px;
	font-size: 1.3em;
}



