body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
	
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

body {
	position: relative;
	margin:0;
	padding: 0;
	
}

*{
	font-family: 'Roboto';
	font-size: 14px;
}

#app{
	width: 100%;
	height: 100%;
	background: #5c6a70;
	overflow: hidden;

}
.container { 
	width: 100%;
	height: 100%;
}

.Content_divchik {
	width: 100%;
	height: 100%;
	position: relative;
	background: #73A3A6;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}







