.Content_divchik .add_invoice{
	color:#394246 !important;
}

.Content_divchik .add_invoice:hover{
	color:white !important;
	background: rgba(57, 66, 70, 0.55) !important;
}


#invoices .FiltListContainer.invoices{
	width: calc(100% - 22px) ;
	height: calc(100% - 62px);
	max-width: 500px;
	border:1px solid white;
}

#invoices{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}

#invoices .invoice_item{
	width: calc(100% - 24px);
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-bottom: 2px solid white;
}

#invoices .invoice_item .invoice-info{
	width: calc(100% - 80px);
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

#invoices .invoice_item .invoice-actios{
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}



#invoices .invoice_item .invoice-info >div{
	display: flex;
	flex-direction: row;
	padding: 5px 5px;
	width: calc(100% - 10px);
	flex-wrap: nowrap;
}

#invoices .invoice_item .invoice-info >div .material-icons{
	color:#394246;
	font-size: 2em;
}

#invoices .invoice_item .invoice-info >div .material-icons{
	width: 60px;
}
#invoices .invoice_item .invoice-info >div .text{
	width: calc(100% - 60px);
	color:#394246;
	font-size: 1.3em;
}


#invoices .invoice_item .invoice-actios .material-icons{
	font-size: 2em;
	cursor: pointer;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#invoices .invoice_item .invoice-actios .material-icons:hover{
	font-size: 2.5em;
}


#invoices .invoice_item .invoice-actios .material-icons.pen{
	color:#0a435d;

}
#invoices .invoice_item .invoice-actios .material-icons.trash{
	color:#ff5722;

}