.Content_divchik .add_product{
	color:#394246 !important;
}

.Content_divchik .add_product:hover{
	color:white !important;
	background: rgba(57, 66, 70, 0.55) !important;
}


#products .FiltListContainer.product-list{
	width: calc(100% - 22px) ;
	height: calc(100% - 62px);
	max-width: 400px;
	border:1px solid white;
}

#products{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}
#products .product_component{
	background: transparent;
	color: #394246;
	padding: 10px 15px;
	
}

#products .product_component input{
	font-size: 1.2em!important;
	color:#394246!important;
	border-bottom: 2px solid #394246!important;

}