.appContainer{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c6a70;
  color: white;
  text-align: center;
}


.appContainer >.ContentWrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.admin-loading{
  background-color: transparent !important;
  box-shadow: none !important;

}
.admin-loading >section{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
}

.appContainer .app_loading{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  background: #16171d;
  opacity: 0.8;
}

    



