.product_component{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: calc(100% - 30px);
	height: 30px;
	border-bottom:1px solid white;
	background: #607d8b;
	align-items: center;
	padding:0px 10px 0px 20px;
	justify-content: space-between;
}

.product_component .material-icons{
	cursor: move;
}