.Content_divchik .add_customer{
	color:#394246 !important;
}

.Content_divchik .add_customer:hover{
	color:white !important;
	background: rgba(57, 66, 70, 0.55) !important;
}


#customers .FiltListContainer.customers-list{
	width: calc(100% - 22px) ;
	height: calc(100% - 62px);
	max-width: 400px;
	border:1px solid white;
}

#customers{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}

.Customer-item{
	display: flex;
	flex-direction: column;
	width: calc(100 - 30px);
	padding: 5px 15px;
	border-bottom: 1px solid white;

}

.Customer-item .cust-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

}

.Customer-item .cust-row .material-icons{
	color: #394246;
	font-size: 2em;
	padding:5px;
	width: 50px;

}



.Customer-item .cust-row input{
	font-size: 1.2em!important;
	color:#394246!important;
	border-bottom: 2px solid #394246!important;

}