.FiltListContainer .FiltList {
	width: 100%;
	overflow-x: hidden;
}
.FiltListContainer  input[type=search]:focus{
	outline: none;
}

.FiltListContainer  input[type=search]{
	width: 100%;
	border: none;
	font-size: 16px;
	padding: .5em .5em .5em .5em;
}

.FiltListContainer .FiltList .FiltListContent{
	width: calc(100% + 15px);
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100% - 34px);
}



.FiltListContainer .FiltListHeader{
	background: #607d8b;
	color:white;
	/*max-width: 10em;*/
	padding: .5em;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.FiltListContainer .FiltListHeader button {
	cursor: pointer;
	border: none;
	border-radius: 50%;
	color: white;
	font-size: 1.1rem;

}

.FiltListContainer .FiltListHeader button.delete{
	background: #f16e64;
}
.FiltListContainer .FiltListHeader button.add{
	background: #03a9f4;
}
.FiltListContainer .FiltListHeader input {
	background: transparent;
	border: none;
	color: white;
	font-size: 1.1rem;
	border-bottom: 0.1em solid white;
	text-align: center;
}

.FiltListContainer .FiltListHeader >div{
	width: 100%;
}


.FiltListContainer .FiltListHeader .title{
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	width: 100%;
}

.FiltListContainer .FiltListHeader input:focus{
    outline: none;
}