#editInvoice{
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	justify-content: space-between;
}

#editInvoice > div{
	width: calc(50% - 12px);
	height: calc(100% );
	overflow: hidden;
}

#editInvoice .products .FiltListContainer{
	height: 100%;
}

#editInvoice .products .productsListHeader{
	width: 100%;
}


#editInvoice .products .FiltListContainer .FiltList {
	height: calc(100% - 37px);
}
.FiltListContainer .FiltList {
	height: 100%;
}
.FiltListContainer .FiltList .FiltListContent{
	height: calc(100% - 34px)
}

#editInvoice .invoice .header{
	background: #0a435d;
	height: 50px;
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



#editInvoice .invoice .header .customersSelect{
	padding: 5px 0;
}

#editInvoice .invoice .header .customersSelect >div > input{
	color: white;
	width:150px;
	font-size: 1rem;
}

#editInvoice .invoice .header .customersSelect .theme__input___77Yss:after{
	border-top: 0.54857rem solid rgba(255, 255, 255, 0.72);
}



#editInvoice .invoice .header .customersSelect .theme__hint___2D9g-{
	    color: rgba(255, 255, 255, 0.72);
	    font-size: 1em;
}


#editInvoice .invoice .header .customersSelect >ul{
	padding-left: 0px;
}

#editInvoice .invoice .header .customersSelect >ul >li{
	font-size: 1rem;
	color:black;
}


#editInvoice .invoice .invoiceProdList {
	width: 100%;
	height: calc(100% - 110px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#editInvoice .invoice .invoiceProdList  .FiltListContainer{
	width: 100%;
	height: 100%;
	
}


#editInvoice .invoice .invoiceFooter {
	width: calc(100% - 20px);
	height: 40px;
	padding: 10px;
	background: #0a435d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#editInvoice .invoice .invoiceFooter  .done {
	color:white;
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
}

#editInvoice .invoice .invoiceFooter  .done >span{
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
}

#editInvoice .invoice .invoiceFooter >span{
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
}

#editInvoice .invoice .invoiceProdList .Infos{
	font-size: 2em;
	color:#394246;

}


.InvoiceProduct{
	width: calc(100% - 20px);
	padding:10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #607d8b;
	border-bottom: 1px solid white;
}

.InvoiceProduct *{
	padding: 0 5px ;
}

.InvoiceProduct .Name {
	width: 50%;
	max-width: 200px;
	overflow:hidden;
}

.InvoiceProduct .price{
	width: 70px;
	overflow:hidden;
}

.InvoiceProduct .material-icons {
	color: #bb2418;
	font-size: 2em;
	cursor: pointer;

}


